* {
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photo/fluid.png");
    height: 120vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: left;
    list-style-type: none;
    margin-top: 20px;
}

ul li a {
    margin-left: 80px;
    text-decoration: none;
    color: #fff;
    padding: 0;
    transition: 0.6s ease;
    height: auto;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

.main {
    max-width: 3000px;
    margin: auto;
}

a {
    font-size: 50px;
}

li {
    border-color: rgb(29, 20, 20);
    border-radius: 10px;
}

h1 {
    padding: 20px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}